/*

!.gitignore

!/kicad
/kicad/*
!/kicad/stm32_nucleo_expansion/
/kicad/stm32_nucleo_expansion/*
!/kicad/stm32_nucleo_expansion/*.kicad*

/kicad/stm32_nucleo_expansion/*.kicad_prl

!/kicad/stm32_nucleo_expansion/*lib-table
!/kicad/stm32_nucleo_expansion/schema.pdf

!/kicad/stm32_nucleo_expansion/bill_of_materials.csv

!/kicad/stm32_nucleo_expansion/libraries/
/kicad/stm32_nucleo_expansion/libraries/*/*.bak

!/kicad/stm32_nucleo_expansion/gerber/

!/images/
/images/*.pdf

!/*.md


